@import url('https://fonts.googleapis.com/css2?family=Almarai&family=Poppins&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css");



:root {
    --text: #1d3557;
    --light-text: #ced4da;
    --aswad: #293241;
    /* --gradient-background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%); */
    --gradient-background: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
    --gradient-text: linear-gradient(170deg, #2af598 0%, #009efd 70%);
    --gradient-abyad: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);

}


.bg-abyad {
    background: var(--gradient-background);
}

.bg-extra-abyad {
    background: var(--gradient-abyad);
}

.bg-aswad {
    background-color: var(--aswad);
}

.bg-hover-aswad:hover {
    background-color: var(--aswad);
}


.text-abyad {
    color: var(--light-text) !important;
}


.text-justify {
    text-align: justify;
}

.pop {
    font-family: 'Poppins', sans-serif;
}

.arb {
    font-family: 'Almarai', sans-serif;
}


iframe {
    width: 100% !important;
}

body {
    font-family: "Open Sans", sans-serif;
    background: #f6f9ff;
    color: #444444;
}

.fs-smaller {
    font-size: smaller;
}

.fs-xsmall {
    font-size: xx-small !important;
}

.point {
    cursor: pointer;
}

.text-fade {
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    position: relative;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
