@import url('https://fonts.googleapis.com/css2?family=Almarai&family=Poppins&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css");

.pop {
    font-family: 'Poppins', sans-serif;
}

.arb {
    font-family: 'Almarai', sans-serif;
}


iframe {
    width: 100% !important;
}

body {
    font-family: "Open Sans", sans-serif;
    background: #f6f9ff;
    color: #444444;
}

.fs-smaller {
    font-size: smaller;
}

.fs-xsmall {
    font-size: xx-small !important;
}

.point {
    cursor: pointer;
}

.text-fade {
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    position: relative;
}